@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--slate-300);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.qr-code {
  max-width: 300px;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.qr-code img {
  width: 100%;
  border-radius: 10px;
}

.qr-code h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  color: var(--slate-900);
}

.qr-code p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--slate-500);
}
